.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f04845; 
    color: #fee266;
    height: 10vh;
    border-top: 1px solid #000;

    p{
        font-size: 18px;
        span{
            color:#fff;
        }
    }
}